#root,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	font-family: "The Nautigal", cursive;
}

.app {
	height: 100%;
	background: url("https://picsum.photos/1024/765/?blur=2");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.card {
	background-color: rgba(255, 255, 255, 0.6);
	width: 80%;
	height: auto;
	border-radius: 5px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	margin-top: 0 !important;
	margin-bottom: 15px !important;
	font-size: 4rem;
}

.btn_advice {
	background-color: aliceblue;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
}

.btn_advice:hover {
	background-color: gray;
	color: whitesmoke;
	cursor: pointer;
}

@media screen and (max-width: 480px) {
	.heading {
		font-size: 3rem;
	}
}
